<% if @menu.errors.any? %>
  <h4 style="color: red;"><%= @menu.errors.full_messages.to_sentence %></h4>
<% end %>

<%= form_with model: @menu, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <p>Create a new item!</p>
  <%= f.fields_for :items, @menu.items.build do |item| %>
    <%= item.text_field :name, placeholder: "name" %><br>
    <%= item.number_field :price, placeholder: "price" %><br>
    <%= item.text_field :description, placeholder: "description" %><br>
  <% end %>

  <%= f.submit %>
<% end %>
